.dumpBoxOutput{
    margin: 5px 1px 5px 1px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(173, 184, 98);
    background-color: rgb(55, 91, 85);
    color: rgb(255, 211, 99);
}

.dumpBoxValue{
    margin: 4px 0px 0px 0px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 0px;
    border-color: rgb(173, 184, 98);
}

.Query
{
	display: none;
}

div.qFetch{
	padding: 2px;
	border: 3px double rgb(0, 0, 0);
	color: black;
	background-color: #AEF2B0;
	overflow: auto;
}

div.qAffect{
	padding: 2px;
	border: 3px double rgb(0, 0, 0);
	color: black;
	background-color: #FFD572;
	overflow: auto;
}

div.qFailure{
	padding: 2px;
	border: 3px double rgb(0, 0, 0);
	color: black;
	background-color: #FD827D;
	overflow: auto;
}

pre.qResult{
	display: none;
	background-color: rgba(255, 255, 255, 0.5);
	color: rgb(0, 0, 0);
	padding: 5px;
	margin: 1px;
}

div.qSelect div.close ,
div.qInsert div.close ,
div.qError div.close
{
	float: inherit;
	text-align: start;
	margin: -1px;
	padding: 5px;
	border: 0px;
}

div.scriptTime {
	border: 1px #ADB862;
    border-style: solid;
    background-color: #375B55;
    font-size: small;
    color: rgb(255, 211, 99);
    margin: 1px 0px 1px 0px;
    padding: 1px;
}

.Debug1 {
	border-style: dashed;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
	background-color: rgba(23, 22, 21, 1);
	color: rgb(9, 142, 169);
	font-family: monospace;
	padding: 2px;
	margin: 0px;
	font-size: 130%;
}

.Debug2 {
	border-style: dashed;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.1);
	background-color: rgba(23, 22, 21, 1);
	color: rgb(255, 114, 0);
	font-family: monospace;
	padding: 2px;
	margin: 0px;
	font-size: 130%;
}
