body {
background-color: #0F0F1B;
color: white;
margin: 2px;
min-width: 270px;
//min-height: 400px;
border-top: 1px solid black;
}

*{
outline: none;
word-wrap: break-word;
min-width: 1%;
}

input[type=text], textarea {
outline: none;
}

div.contentplace{ /*Πράσινη περιοχή*/
 background-color: #636E80;
 padding: 2px 0 0 0;
}

a {
    color: white;
}

.close {
background-color: rgba(0, 0, 0, 0.09);
font-size: 90%;
font-family: Arial Black;
}

div.content {
    border-top: 1px solid #0F0F1B;
	padding: 0px 0px 1px 0px;
    background-color: #3E4D66;
}
 
.box{
padding: 4px 2px 4px 2px;
}

fieldset{
background-color: rgba(18, 51, 176, 0.1);
border-style: solid;
border-width: 1px;
border-color: rgba(0, 0, 0, 0.4);
border-radius: 0.2em;
margin: 5px;
font: caption;
}

div#welcome {
    border-style: solid;
    border-width: 5px;
    border-color: rgba(34, 45, 66, 0.44);
    font: small-caption;
    margin: 0px;
    padding: 5px;
    background: #3b679e;
    background: -moz-linear-gradient(left, #3b679e 0%, #207cca 25%, #207cca 25%, #2b88d9 26%, #2b88d9 26%, #207cca 49%, #7db9e8 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3b679e), color-stop(25%,#207cca), color-stop(25%,#207cca), color-stop(26%,#2b88d9), color-stop(26%,#2b88d9), color-stop(49%,#207cca), color-stop(100%,#7db9e8));
    background: -webkit-linear-gradient(left, #3b679e 0%,#207cca 25%,#207cca 25%,#2b88d9 26%,#2b88d9 26%,#207cca 49%,#7db9e8 100%);
    background: -o-linear-gradient(left, #3b679e 0%,#207cca 25%,#207cca 25%,#2b88d9 26%,#2b88d9 26%,#207cca 49%,#7db9e8 100%);
    background: -ms-linear-gradient(left, #3b679e 0%,#207cca 25%,#207cca 25%,#2b88d9 26%,#2b88d9 26%,#207cca 49%,#7db9e8 100%);
    background: linear-gradient(to right, rgba(59, 122, 158, 0.5) 0%,rgba(64, 155, 208, 0.5) 25%,rgba(43, 159, 217, 0.5));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=1 );
}

img#WelcIMG {
    float: left;
    margin: 1px 7px 1px 1px;
}

div.person_label{
margin: 0px;
overflow: auto;
position: relative;
text-align: start;
padding: 3px 3px 2px 3px;
font-family: cursive;
/* background-color: rgba(255, 181, 48, 1); */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 );
/* background: #93cede; */
background: -moz-linear-gradient(top, #93cede 0%, #75bdd1 41%, #49a5bf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93cede), color-stop(41%,#75bdd1), color-stop(100%,#49a5bf));
background: -webkit-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%);
background: -o-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%);
background: -ms-linear-gradient(top, #93cede 0%,#75bdd1 41%,#49a5bf 100%);
background: linear-gradient(to bottom, rgba(128, 144, 168, 1) 0%,rgba(159, 180, 198, 1) 41%, #808FA7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 );
}


div.person_label_active{
background-color: #636E80;
}

div.close a , div.person_label a {
position: absolute;
width: 100%;
height: 26px;
left: 0;
text-decoration: none;
background-color: #F00;
opacity: 0;
filter: alpha(opacity=1);
}



div.person_label_icon {
float: left;
width: 30px;
text-align: center;
} 

div.person_label_content {
float: left;
color: rgba(0, 0, 0, 0.8);
}
 
div.person_label_tools {
position: absolute;
right: 0.5%;
}


div.Person { 
padding: 0px;
margin: 1px;
border: 1px solid rgba(65, 71, 71, 0.69);
}

div.Person_Container {
background-color: rgba(128, 143, 167, 1);
overflow: auto;
margin: 0px;
border: 3px solid #808FA7; /* Old browsers */   /* FF3.6+ */   /* Chrome,Safari4+ */   /* Chrome10+,Safari5.1+ */   /* Opera 11.10+ */   /* IE10+ */   /* W3C */   /* IE6-9 */;
}

.Person_content {
background-color: #3E4D66;
border: 1px solid rgb(20, 43, 62);
margin: 3px 0px 0px 0px;
}

.Person_Separating_Content {
height: 25px;
background-color: #1E1B19;
border: 0px solid #2C2927;
letter-spacing: 2px;
font-family: Arial Black;
padding: 2px 0px 2px 5px;
}

.Person_Separating_SubContent {
letter-spacing: 2px;
font-family: Arial Black;
padding: 1px 0px 2px 5px;
background: #3C5071; 
/* color: #FFB530; */
}

.Person_SeparatingField_Icon {
float: left;
height: 24px;
text-align: center;
}

.Person_SeparatingField {
margin: 1px 2px 0px 30px;
padding: 2px 0px 2px 2px;
color: #FFFFFF;
/* text-shadow: 0px 0px 3px black; */
}


.Person_Field_Icon {
float: left;
margin: 1px 1px 0px 0px;
padding: 2px 0px 2px 0px;
width: 30px;
height: 24px;
text-align: center;
//background: #151312;
background: #A2AEB8;
}

.Person_Field {
float: none;
margin: 1px 0px 0px 31px;
min-height: 24px;
padding: 2px 0px 2px 2px;
letter-spacing: 1px;
font-family: Arial Black;
background: rgba(162, 174, 184, 1);
color: black;  
/* background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=); */  background: -moz-linear-gradient(left, rgba(62,77,102,1) 0%, rgba(130,140,149,1) 15%, rgba(130,140,149,1) 100%, rgba(62,77,102,1) 100%, rgba(130,140,149,1) 100%);  
/* background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(62,77,102,1)), color-stop(15%,rgba(130,140,149,1)), color-stop(100%,rgba(130,140,149,1)), color-stop(100%,rgba(62,77,102,1)), color-stop(100%,rgba(130,140,149,1))); */  
/* background: -webkit-linear-gradient(left, rgba(62,77,102,1) 0%,rgba(130,140,149,1) 15%,rgba(130,140,149,1) 100%,rgba(62,77,102,1) 100%,rgba(130,140,149,1) 100%); */  background: -o-linear-gradient(left, rgba(62,77,102,1) 0%,rgba(130,140,149,1) 15%,rgba(130,140,149,1) 100%,rgba(62,77,102,1) 100%,rgba(130,140,149,1) 100%);  background: -ms-linear-gradient(left, rgba(62,77,102,1) 0%,rgba(130,140,149,1) 15%,rgba(130,140,149,1) 100%,rgba(62,77,102,1) 100%,rgba(130,140,149,1) 100%);  
/* background: linear-gradient(to right, rgba(130, 140, 149, 1) 0%,rgba(42, 130, 209, 1) 15%,rgba(130,140,149,1) 100%,rgba(62,77,102,1) 100%,rgba(130,140,149,1) 100%); */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e4d66', endColorstr='#828c95',GradientType=1 );
/* text-shadow: 0px 0px 0.4px rgba(0, 0, 0, 0.5); */;
}

div.photo {
border: 1px rgba(20, 43, 62, 1);
height: 200px;
border-style: solid;
background-position: center;
background-repeat: space;
background-size: 100% 100%;
background-color: rgba(0, 110, 255, 0.3);
}

a.tel_link {
color: black;
text-decoration: initial;
}

.PhoneOperator {
padding: 4px 0px 4px 0px;
letter-spacing: 1px;
font-family: Arial Black;
float: left;
margin: 0px 5px 0px 5px;
} 

.PhonePacket {
	padding: 4px 0px 4px 0px;
	letter-spacing: 1px;
	font-family: Arial Black;
	float: left;
}

div.userform input[type="submit"] {
	width: 50%;
	float: right;
	margin: 3px -6px 0px 0px;
}

div#contentContainer {
	//margin: 1px -3px -4px -3px;
}

#container{
	background-color: #636E80;
}

ul.ultab{  
    line-height: inherit;
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 4px 2px;
    text-align: center;
    background: #62CE8B;
    /* border-top: 1px solid #0F0F1B; */
    /* border-radius: 0.3em; */
    background: rgba(210, 255, 82, 0.8);
    background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(210, 255, 82, 0.8)), color-stop(100%,rgba(145, 232, 66, 0.8)));
    background: -webkit-linear-gradient(top, rgba(210, 255, 82, 0.8) 0%,rgba(145, 232, 66, 0.8) 100%);
    background: -o-linear-gradient(top, #d2ff52 0%,#91e842 100%);
    background: -ms-linear-gradient(top, #d2ff52 0%,#91e842 100%);
    background: linear-gradient(to bottom, rgba(210, 255, 82, 0.8) 0%,rgba(145, 232, 66, 0.8) 60%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );
}

ul.ultab {}
	
ul.ultab li.litab{
    display: inline-block;
    width: 29.3333%;
    padding: 0.5% 0.8%;
    list-style-type: none;
    transition: 0.5s ease;
    -o-transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    border: 1px solid transparent;
    margin: 0 0 1px 0;
}

ul.ultab li.litab:hover{
    /* text-decoration: none; */
    background: rgba(255, 255, 255, 0.35);
    /* border: 1px rgba(0, 0, 0, 0.35); */
    border-style: solid;
    border-radius: 0.2em;
    box-shadow: 0px 0px 2px rgba(0, 129, 255, 1);
}

ul.ultab li.litab a{
	color: #000;
	text-decoration: none;
}

ul.ulsubtab{
	line-height: inherit;
	overflow: auto;
	border: 1px solid #000000;
	margin: -1px -1px 0px -1px;
	padding: 0px;
}
		
ul.ulsubtab li.lisubtab{
	display: block;
	float: left;
	width: 5.6em;
	text-align: center;
	margin: 0 0px 0 0;
	padding: 3px 5px 3px 5px;
	background: #FFC363;
	border: 1px solid rgba(179, 43, 43, 0.2);
	list-style-type: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

ul.ulsubtab li.lisubtab:hover{
	display: block;
	/* float: left; */
	text-decoration: none;
	margin: 0 0px 0 0;
	padding: 3px 5px 3px 5px;
	list-style-type: none;
	background-color: #F95B1E;
}

ul.ulsubtab li.lisubtab a{
	color: #000;
	text-decoration: none;
}

.hidden{
    display: none;
}

div#T1 {
overflow: auto;
}

div#T2 {
overflow: auto;
}



#contentContainer{
	overflow: hidden;
}


div#contact_tools {
height: 21px;
background-color: #FFB530;
border: 1px outset rgb(0, 0, 0);
/* padding: 1px; */
text-shadow: 0px 0px 1px #000000;
}

span#btn_new_contact {
padding: 0px 10px 2px 10px;
font-size: 100%;
font-weight: bold;
background-color: rgba(0, 0, 0, 0.23);
color: #000000;
margin-left: 2px;
}

div.pagination{
	position: relative;
	padding: 2px 0px 4px 0px;
	text-align: center;
	background-color: #636E80;
}

div.page_loader{
margin: 5px 10px 0px 0px;
position: absolute;
right: 0.5%;
top: 0.5%;
}

.cnts_page{
	padding: 7px 12px 7px 12px;
	font-size: 100%;
	font-weight: bold;
	letter-spacing: 3px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #62CE8B;
	border: 1px outset rgb(0, 0, 0);	
	margin-left: 2px;
	border-radius: 0.8em;
}

.cnts_page_active {
    color: #000000;
    background-color: #FFB530;
}