/*Εποικινωνία------------------------------------------------------------------------------------------------------*/

.country{
	width:110px;
}

.countryphonecode{
	width:70px;
}

.phone{
	width:110px;
}

.phonetypes{
	width:130px;
}