div#Notice {
    color: black;
    padding: 2px;
    margin: 0px 0px 2px 0px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: auto;
    font-family: monospace;
    background: #6689A3;
}

div#Success {
    color: black;
    padding: 2px;
    margin: 0px 0px 2px 0px;
    border: 1px solid rgba(105, 255, 0, 0.3);
    overflow: auto;
    font-family: monospace;
    background: #d2ff52;
}

div#Warning {
    color: black;
    padding: 2px;
    margin: 0px 0px 2px 0px;
    border: 1px solid rgba(255, 235, 0, 0.3);
    overflow: auto;
    font-family: monospace;
    background: #ffd65e;
}

div#Error {
    color: black;
    padding: 2px;
    margin: 0px 0px 2px 0px;
    border: 1px solid rgba(251, 55, 0, 0.3);
    overflow: auto;
    font-family: monospace;
    background: #FF6854;
}

.alert_content {
    float: left;
    padding: 3px 0px 3px 0px;
    margin-left: 10px;
    width: 85%;
}

.alert_icon {
    float: left;
    margin: 1px;
    padding: 2px;
    width: 20px;
}

pre.alert {
    background-color: rgba(255, 255, 255, 0.4);
    margin: 2px 0px 0px 0px;
    font-family: monospace;
    color: #000000;
    box-shadow: 0px 0px 1px rgb(57, 60, 65);
    padding: 2px;
    border: 1px rgb(57, 60, 65);
    border-style: dashed;
}